aiohttp==3.12.15
AppKit==0.2.8
argcomplete==3.6.2
attr==0.3.2
BeautifulSoup==3.2.2
Brotli==1.1.0
brotlicffi==1.1.0.0
brotlipy==0.7.0
Carbon==1.1.10
cchardet==2.1.7
cffi==1.15.0
cffi==1.17.1
cmarkgfm==2024.11.20
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==36.0.0
Cython==3.1.3
defcon==0.12.2
defusedxml==0.7.1
dl==0.1.0
eventlet==0.40.3
exceptiongroup==1.3.0
filelock==3.19.1
freetype_py==2.5.1
fs==2.4.16
gevent==25.8.2
glyphsLib==6.11.6
greenlet==3.2.4
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
Jinja2==3.1.6
jnius==1.1.0
js==1.0
lxml_html_clean==0.4.2
lz4==4.4.4
matplotlib==3.10.6
mock==5.2.0
multidict==6.6.4
munkres==1.1.4
numpy==2.3.2
olefile==0.47
orjson==3.11.3
ox_profile==0.2.14
pexpect==4.9.0
pip_api==0.0.34
pipreqs==0.5.0
protobuf==6.32.0
psutil==7.0.0
pudb==2025.1
PyInstaller==6.15.0
pylama==8.4.1
pyodide==0.0.2
pyOpenSSL==22.0.0
pyOpenSSL==25.1.0
PyQt5==5.15.11
PyQt6==6.9.1
PySide6==6.9.2
Quartz==0.0.1.dev0
railroad==0.5.0
recommonmark==0.7.1
redis==6.4.0
reportlab==4.4.3
Res==0.1.7
scipy==1.16.1
secretstorage==3.3.3
shtab==1.7.2
simplejson==3.20.1
Sphinx==8.2.3
sympy==1.14.0
tokenize_rt==6.2.0
tornado==6.5.2
trove_classifiers==2025.8.26.11
Twisted==25.5.0
ufoLib2==0.18.1
uharfbuzz==0.51.4
unicodedata2==16.0.0
urllib3_secure_extra==0.1.0
uvloop==0.21.0
xattr==1.2.0
xmlrpclib==1.0.1
zope==5.13
zstandard==0.24.0
pypinyin==0.50.0
jieba==0.42.1
chardet==5.2.0